<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbs example</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.css">
</head>

<body>

    <!-- body -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card px-4 py-4">
                    {{#block "page"}} {{/block}}
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12">
                {{#each modules as |module|}}
                <div class="card px-4 py-4 mb-3">
                    {{#block module}}{{/block}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</body>

</html>